.test {
    border: red solid 2px;
}

.main-content {
    background-color: rgb(230, 230, 230) !important;
}

.class-detail-content {
    padding-inline: 15px;
}

.container-main {
    background-color: white;
    min-height: 600px;
}


.top-card {
    margin-top: 30px;
}
