.cover-class {
    min-height: 300px;
    max-height: 300px;
    border-radius: 0px;
    margin-top: 15px;

    .title-class {
        font-size: 200px;
        font-weight: bold;
        background-color: #186fcc;
        border-radius: 20px;
        width: fit-content;
    }

    .title-updatedate {
        background-color: white;
        color: black;
        width: fit-content;
        padding: 10px;
        border-radius: 10px;
    }

    img {
        object-fit: cover; 
        object-position: center;
    }
    
}


.card {
    border-radius: 0px !important;
}