.cover-class {
    background-color: white !important;
    min-height: 300px;
    width: 100vw;
    border-radius: 0px;

    .title-class {
        padding: 10px;
        font-size: 20px !important;
        font-weight: bold;
        background-color: #186fcc;
        border-radius: 20px;
        width: fit-content;
    }

    .title-update-date {
        background-color: white;
        color: black;
        width: fit-content;
        padding: 10px;
        font-size: 12px !important;
        border-radius: 10px;
    }

    img {
        object-fit: cover; 
        object-position: center;
    }
}


.card {
    border-radius: 0px !important;
}