.section-container {
    border: none; 
    box-shadow: 0 0 0 0.5px rgb(189, 187, 187);
    border-radius: 10px;

    .card {
        padding-bottom: 20px;

        .emphasized-title {
            text-align: left;
            font-size: small;
            color: white;
            background-color: rgb(36, 115, 241);
            width: fit-content;
            padding-inline: 5px;
            border-radius: 5px;
        }
    }

    .card-body {
        padding: 0px !important;
    }

    min-width: 800px;
    width: 100% !important;
    .section {
        min-width: 100%;

        img {
            width: 80px;
            height: 80px;
            object-fit: cover; /* Hoáº·c contain */
        }

        .text-muted {
            font-size: 15px;
        }

        .content-text-section {
            min-width: 500px;
        }
    }
    
    .content-section {
        min-width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
        // border: solid rgb(29, 28, 28) 1px;
        text-align: left;
    }

    hr {
        height: 0.5px;
        background-color: rgb(117, 116, 116);
        border: none;
        width: 50%;
        min-width: 100%;
    }
}

.section-emphasize-container {
    border-left: 3px solid rgb(36, 115, 241);
}


.chevron-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2px;
    border: solid 2px rgb(117, 159, 223); 
    border-radius: 10px;
    width: 40px !important;
    height: 40px !important;
    background-color: whitesmoke;  

}

.chevron-btn {
    background: url('../../../assets/media/button/down-chevron.png') no-repeat center center;
    background-size: contain; 
    width: 35px;
    height: 35px;
    border: none; 
    cursor: pointer; 

    &.show {
        background: url('../../../assets/media/button/right-chevron.png') no-repeat center center !important;
        background-size: contain !important; 
    }
}

