.custom-bread-crumb {
    background: rgb(244, 242, 242) !important;
    position: static;

    ol.breadcrumb {
        background: rgb(244, 242, 242) !important;
        margin-bottom: 0px;
        margin-left: 10px;
        padding: 1px;
        font-size: 15px;
    }   
}